%mr-semibold{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

%mr-bold{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

%ir-regular{
	font-family: 'Inter', sans-serif;
	font-weight: 400;
}

%ir-medium{
	font-family: 'Inter', sans-serif;
	font-weight: 500;
}

%ir-bold{
	font-family: 'Inter', sans-serif;
	font-weight: 700;
}