<footer class="footer">
	<div class="container">
		<div class="footer__inner">
			<div class="footer__block">
				<a class="footer__logo-link" href="#">Cootels</a>
				<p class="footer__text">
					Your Best Private Hideway From Crowd. Back to Nature.
				</p>
				<ul class="footer__soc-list">
					<li class="footer__soc-list--item">
						<a href="#" class="footer__soc-list--link">
							<img src="images/src/twitter.svg" alt="">
						</a>
					</li>
					<li class="footer__soc-list--item">
						<a href="#" class="footer__soc-list--link">
							<img src="images/src/instagram.svg" alt="">
						</a>
					</li>
					<li class="footer__soc-list--item">
						<a href="#" class="footer__soc-list--link">
							<img src="images/src/facebook.svg" alt="">
						</a>
					</li>
				</ul>
			</div>
			<nav class="footer__menu">
				<ul class="footer__menu-list">
					<li class="footer__menu-item">
						<span class="footer__menu-title">Rooms</span>
					</li>
					<li class="footer__menu-item">
						<a class="footer__menu-link" href="#">Single Room</a>
					</li>
					<li class="footer__menu-item">
						<a class="footer__menu-link" href="#">Double Room</a>
					</li>
					<li class="footer__menu-item">
						<a class="footer__menu-link" href="#">Cabin</a>
					</li>
					<li class="footer__menu-item">
						<a class="footer__menu-link" href="#">Custom Room</a>
					</li>
				</ul>
				<ul class="footer__menu-list">
					<li class="footer__menu-item">
						<span class="footer__menu-title">Reservation</span>
					</li>
					<li class="footer__menu-item">
						<a class="footer__menu-link" href="#">See the Steps</a>
					</li>
					<li class="footer__menu-item">
						<a class="footer__menu-link" href="#">Best Time</a>
					</li>
				</ul>
				<ul class="footer__menu-list">
					<li class="footer__menu-item">
						<span class="footer__menu-title">Contact</span>
					</li>
					<li class="footer__menu-item">
						<a class="footer__menu-link" href="#">Our Number</a>
					</li>
					<li class="footer__menu-item">
						<a class="footer__menu-link" href="#">Our Email</a>
					</li>
					<li class="footer__menu-item">
						<a class="footer__menu-link" href="#">Our Location</a>
					</li>
				</ul>
			</nav>
			<nav class="footer__spoilers">
				<div class="spoiler">
					<ul class="spoiler__list">
						<li class="spoiler__list-item">
							<button class="spoiler__list-btn">Rooms</button>
							<div class="spoiler__list-text">
								<a class="spoiler__list-link" href="#">Single Room</a>
								<a class="spoiler__list-link" href="#">Double Room</a>
								<a class="spoiler__list-link" href="#">Cabin</a>
								<a class="spoiler__list-link" href="#">Custom Room</a>
							</div>
						</li>
						<li class="spoiler__list-item">
							<button class="spoiler__list-btn">Reservation</button>
							<div class="spoiler__list-text">
								<a class="spoiler__list-link" href="#">See the Steps</a>
								<a class="spoiler__list-link" href="#">Best Time</a>
							</div>
						</li>
						<li class="spoiler__list-item">
							<button class="spoiler__list-btn">Contact</button>
							<div class="spoiler__list-text">
								<a class="spoiler__list-link" href="#">Our Number</a>
								<a class="spoiler__list-link" href="#">Our Email</a>
								<a class="spoiler__list-link" href="#">Our Location</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
</footer>
<script src="js/main.min.js"></script>
</body>
</html>

