<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cootels</title>
	<link rel="stylesheet" href="css/style.min.css">
</head>
<body>
	<header class="header">
		<div class="container">
			<div class="header__inner">
				<a class="header__logo-link" href="#">Cootels</a>
				<nav class="menu">
					<ul class="menu__list">
						<li class="menu__list-item">
							<a class="menu__list-link" href="#">Rooms</a>
						</li>
						<li class="menu__list-item">
							<a class="menu__list-link" href="#">Reservation</a>
						</li>
						<li class="menu__list-item">
							<a class="menu__list-link" href="#">Contacs</a>
						</li>
						<li class="menu__list-item">
							<a class="menu__list-btn btn-link" href="#">Get Started</a>
						</li>
					</ul>
				</nav>
				<a class="header__btn-link btn-link" href="#">Get Started</a>
				<button class="header__burger" aria-label="menu">
					<span></span>
				</button>
			</div>
		</div>
	</header>